name: APIOps
on: push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Download
        run: wget https://mheap-demos.s3.eu-west-2.amazonaws.com/inso-custom-rulesets
      - name: Run It
        run: chmod +x ./inso-custom-rulesets && ./inso-custom-rulesets lint spec summit-demo
